/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply overflow-y-scroll bg-neutral-50;
  }

  label {
    @apply mb-2 block text-sm font-medium text-neutral-900;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  select,
  textarea,
  editor {
    @apply block w-full rounded-lg border border-neutral-300 bg-neutral-50 p-2.5 text-sm text-neutral-900 focus:border-orange-600 focus:ring-orange-600;
  }

  input[type="search"] {
    @apply block w-full rounded-lg border border-neutral-300 bg-neutral-50 p-2.5 pl-10 text-sm text-neutral-900 focus:border-orange-600 focus:ring-orange-600;
  }

  input[type="submit"] {
    @apply rounded-lg bg-orange-600 px-5 py-2.5 text-sm font-medium text-white hover:bg-orange-600 focus:ring-4 focus:ring-orange-400;
  }

  select {
  }

  caption {
    @apply text-left text-xs uppercase tracking-widest text-neutral-500;
  }

  [contenteditable="true"]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    color: gray;
  }

  [contenteditable] {
    outline: 0px solid transparent;
  }

}

@layer components {
  .btn-base {
    @apply h-fit rounded-lg px-5 py-2.5 text-sm font-medium;
  }

  .btn-small {
    @apply rounded-lg px-3 py-2 text-sm font-medium;
  }

  .btn-report-card {
    @apply flex h-48 flex-col rounded-lg border p-4 text-left;
  }

  .btn-primary-header {
    @apply bg-orange-50 text-orange-700 hover:bg-orange-100;
  }

  .btn-icon-header {
    @apply rounded border text-white;
  }

  .btn-primary {
    @apply bg-orange-600 text-white hover:bg-orange-500;
  }

  .btn-secondary {
    @apply border border-neutral-200 text-neutral-950 hover:bg-neutral-100 hover:border-neutral-500;
  }

  .btn-negative {
    @apply border border-red-100 bg-red-700 text-white hover:border-red-500 hover:bg-red-600 hover:text-white;
  }

  .sidebar {
    @apply flex h-screen w-72 flex-col border-r bg-orange-50 bg-opacity-5 p-6;
  }

  .header {
    @apply grid h-16 grid-cols-3 items-center border-b bg-orange-50 bg-opacity-5 px-6;
  }

  .nav-link {
    @apply rounded-md px-3 py-2 font-medium text-neutral-50 hover:bg-neutral-100 hover:bg-opacity-25;
  }

  .nav-link-active {
    @apply bg-orange-100 bg-opacity-75 text-orange-600 hover:bg-orange-100;
  }

  .tab-link {
    @apply flex w-full justify-between rounded-md px-3 py-2 font-medium text-neutral-700 hover:bg-neutral-100;
  }

  .tab-link-active {
    @apply bg-orange-100 text-orange-600 hover:bg-orange-100;
  }

  .tab-link-badge {
    @apply my-auto h-fit rounded-full bg-orange-100 px-2.5 py-0.5 text-xs font-medium text-orange-700;
  }

  .tab-link-badge-active {
    @apply bg-orange-700 text-orange-100;
  }

  .header-search {
    @apply flex w-full max-w-xs items-center justify-between gap-x-3 justify-self-center rounded-lg bg-neutral-100 px-3 py-2 font-medium text-neutral-900;
  }

  .link-primary {
    @apply font-medium text-orange-600 underline-offset-2 hover:cursor-pointer hover:text-orange-600 hover:underline;
  }

  .link-secondary {
    @apply font-medium text-neutral-500 underline-offset-2 hover:cursor-pointer hover:text-neutral-600 hover:underline;
  }

  .helper-text-error {
    @apply mt-1 text-xs text-red-700;
  }

  .modal-bg {
    @apply fixed left-0 right-0 top-0 z-50 h-screen w-screen overflow-y-auto overflow-x-hidden p-10 backdrop-blur-sm md:inset-0 bg-neutral-500 bg-opacity-75;
  }

  .modal {
    @apply m-auto inline-block h-fit w-full rounded-lg bg-white align-middle shadow transition-all;
  }

  .modal > header {
    @apply px-6 pt-6 mr-12
  }

  .modal > main {
    @apply p-6
  }

  .modal > footer {
    @apply flex flex-row-reverse gap-3 border-t bg-neutral-50 px-6 py-3 rounded-b-lg 
  }

  .toast {
    @apply fixed items-start bottom-8 flex w-full max-w-xs rounded-lg bg-neutral-950 bg-opacity-75 py-4 pl-4 pr-8 text-white shadow-2xl backdrop-blur backdrop-saturate-200;
  }

  .action-icon-destructive {
    @apply m-2 h-6 w-6 hover:text-red-700;
  }

  .action-icon-action {
    @apply m-2 h-6 w-6 hover:text-blue-700;
  }

  .info-label {
    @apply mb-0.5 text-sm font-medium;
  }

  .btn-header {
    @apply bg-white font-medium text-orange-600 backdrop-opacity-50 hover:bg-orange-100 hover:text-orange-600 hover:opacity-100;
  }

  .fieldset {
    @apply border rounded-lg;
  }

  .fieldset > main {
    @apply p-6;
  }

  .fieldset > footer {
    @apply px-6 py-3 justify-between flex bg-neutral-50 border-t items-center h-14
  }
}

.ngx-pagination .current {
  font-size: 1rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  line-height: 1.25rem !important;
}

.dropdown-cell {
  position: relative !important;
}

.dropdown-cell .dropdown-menu {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  z-index: 10 !important;
}

.dropdown-menu {
  position: absolute !important;
  z-index: 10 !important;
  right: 0 !important;
  transform: translateX(100%) !important;
}

header.gradient {
  background: linear-gradient(to right, #f97316, #ea580c);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.avatar-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}