<!-- HEADER-->
<div class="mb-8 flex flex-col gap-y-1">
  <h3 class="text-2xl font-semibold">Getting started</h3>
  <p class="text-sm text-neutral-700">Sign up and access our high-quality services and support.</p>
</div>

<!-- FORM -->
<form class="flex flex-col gap-y-4">
  <div>
    <label for="">Employee ID</label>
    <input id="" type="email" required />
  </div>
  <div>
    <label for="">Email address</label>
    <input id="" type="email" required />
  </div>
  <div>
    <label for="">First Name</label>
    <input id="" type="email" required />
  </div>
  <div>
    <label for="">Last Name</label>
    <input id="" type="email" required />
  </div>
  <input type="submit" class="mt-2" value="Sign up" />
  <a class="link-secondary text-sm mx-auto" href="auth">Back to sign in</a>
</form>
