<div class="flex flex-col gap-y-4">

    <!-- STEP ONE -->
    <section *ngIf="step === 1">
        <div class="mb-8 flex flex-col gap-y-1">
            <caption class="">Step 1 of 5</caption>
            <h3 class="text-2xl font-semibold">Let's get started</h3>
            <p class="text-sm text-neutral-700">To sign up, please enter your employee ID and email address. We’ll
                verify them in a
                snap and take you to the next step.</p>
        </div>

        <!-- FORM -->
        <div class="flex flex-col gap-y-4">
            <div>
                <label for="">Employee ID</label>
                <input id="" type="number" [(ngModel)]="id" required />
                <p class="helper-text-error">ID must not blank</p>
            </div>
            <div>
                <label for="">Email address</label>
                <input id="" type="email" [(ngModel)]="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                <p class="helper-text-error">Email must not blank</p>
            </div>

            <button (click)="gotoStepTwo()" class="mt-2 btn-base btn-primary" [disabled]="stepOneloading">
                <ng-container *ngIf="!stepOneloading">Next step</ng-container>
                <ng-container *ngIf="stepOneloading">
                    <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-1 text-white animate-spin" viewBox="0 0 100 101"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4"
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentColor" />
                    </svg>
                    Loading...
                </ng-container>
            </button>
            <a class="link-secondary text-sm mx-auto" routerLink="./..">Back to sign in</a>
        </div>

    </section>

    <!-- STEP TWO -->
    <section *ngIf="step === 2">
        <div class="mb-8 flex flex-col gap-y-1">
            <caption>Step 2 of 5</caption>
            <h3 class="text-2xl font-semibold">Let’s get to know you better</h3>
            <p class="text-sm text-neutral-700">Enter your first and last name so we can personalize your experience and
                connect you
                with others.</p>
        </div>

        <!-- FORM -->
        <div class="flex flex-col gap-y-4">
            <div>
                <label for="firstName">First name</label>
                <input id="firstName" type="text" [(ngModel)]="firstName" />
                <p class="helper-text-error">First name cannot be empty.</p>
            </div>
            <div>
                <label for="lastName">Last name</label>
                <input id="lastName" type="text" [(ngModel)]="lastName" />
                <p class="helper-text-error">Last name cannot be empty.</p>
            </div>

            <button (click)="gotoStepThree()" class="mt-2 btn-base btn-primary">Next step</button>
            <a (click)="goBack()" class="link-secondary text-sm mx-auto">Go back</a>
        </div>
    </section>

    <!-- STEP THREE -->
    <section *ngIf="step === 3">
        <div class="mb-8 flex flex-col gap-y-1">
            <caption>Step 3 of 5</caption>
            <h3 class="text-2xl font-semibold">Nice to meet you, {{ firstName }}!</h3>
            <p class="text-sm text-neutral-700">Tell us your designation and department so we can customize your
                dashboard and show
                you relevant content and opportunities.</p>
        </div>

        <!-- FORM -->
        <div class="flex flex-col gap-y-4">
            <div>
                <label for="">Department</label>
                <select id="" name="department" [(ngModel)]="department" required>
                    <option value="">Please select your department</option>
                    <option value="Allied">Allied</option>
                    <option value="BLIS">BLIS</option>
                    <option value="BSIT">BSIT</option>
                </select>
                <p class="helper-text-error">Please select your department.</p>
            </div>
            <div>
                <label for="">Designation</label>
                <select id="" name="designation" [(ngModel)]="designation" required>
                    <option value="">Please select your designation</option>
                    <option value="Alumni Coordinator">Alumni Coordinator</option>
                    <option value="BSIT Area Chair - Business Analytics">Area Chair: Business Analytics</option>
                    <option value="BSIT Area Chair - Service Management">Area Chair: Service Management</option>
                    <option value="BSIT Area Chair - Web and Mobile Application Development">Area Chair: Web and
                        Mobile
                        Application Development</option>
                    <option value="College Extension and Services Unit Head">College Extension and Services Unit Head
                    </option>
                    <option value="College Faculty Union President">College Faculty Union President</option>
                    <option value="College Research and Development Unit Head">College Research and Development Unit
                        Head
                    </option>
                    <option value="Communication and Planning Unit Head">Communication and Planning Unit Head</option>
                    <option value="Department Head">Department Head</option>
                    <option value="Dean">Dean</option>
                    <option value="Facility Manager">Facility Manager</option>
                    <option value="Faculty">Faculty</option>
                    <option value="Intellectual Property Unit Head">Intellectual Property Unit Head</option>
                    <option value="Local Registrar">Local Registrar</option>
                    <option value="Quality Assurance Unit Head">Quality Assurance Unit Head</option>
                    <option value="Secretary">Secretary</option>
                    <option value="Student Internship Coordinator">Student Internship Coordinator</option>
                </select>
                <p class="helper-text-error">Please select your designation.</p>
            </div>

            <button (click)="gotoStepFour()" class="mt-2 btn-base btn-primary">Next
                step</button>
            <a (click)="goBack()" class="link-secondary text-sm mx-auto">Go back</a>
        </div>
    </section>

    <!-- STEP FOUR -->
    <section *ngIf="step === 4">
        <div class="mb-8 flex flex-col gap-y-1">
            <caption>Step 4 of 5</caption>
            <h3 class="text-2xl font-semibold">Set up your password</h3>
            <p class="text-sm text-neutral-700"> Your password must be at least 8 characters long and include at least
                one upper and
                lower case letter, a number and a special character. Make sure your password matches the confirm
                password field.</p>
        </div>

        <!-- FORM -->
        <div class="flex flex-col gap-y-4">
            <div>
                <label for="">Password</label>
                <input id="" type="password" required />
                <p class="helper-text-error">Password must be complex.</p>
            </div>
            <div>
                <label for="">Confirm password</label>
                <input id="" type="password" required />
                <p class="helper-text-error">Password must match.
                <p>
            </div>

            <button (click)="gotoStepFive()" class="mt-2 btn-base btn-primary">Next step</button>
            <a (click)="goBack()" class="link-secondary text-sm mx-auto">Go back</a>
        </div>
    </section>

    <!-- STEP FIVE -->
    <section *ngIf="step === 5">
        <div class="mb-8 flex flex-col gap-y-1">
            <span class="text-xs text-neutral-500 ">Step 5 of 5</span>
            <h3 class="text-2xl font-semibold">Upload a photo of yourself</h3>
            <p class="text-sm text-neutral-700"> Upload a photo of yourself that shows your face clearly and looks
                professional. You
                can skip this step if you don't have a photo ready.</p>
        </div>

        <!-- FORM -->
        <div class="flex flex-col gap-y-4">
            <div>
                <label for="">Password</label>
                <input id="" type="password" required />
                <p class="helper-text-error">Password must be complex.</p>
            </div>
            <div>
                <label for="">Confirm password</label>
                <input id="" type="password" required />
                <p class="helper-text-error">Password must match.
                <p>
            </div>

            <button (click)="gotoStepSix()" class="mt-2 btn-base btn-primary">Review</button>
            <a (click)="goBack()" class="link-secondary text-sm mx-auto">Go back</a>
            </div>
            </section>
            
            <!-- STEP SIX -->
            <section *ngIf="step === 6">
                <div class="mb-8 flex flex-col gap-y-1">
                    <caption>Step 6 of 6</caption>
                    <h3 class="text-2xl font-semibold">Review your details before submitting</h3>
                    <p class="text-sm text-neutral-700"> You're almost done with the sign up form. Please review your details
                        carefully and make sure everything is correct before you submit.</p>
                </div>
            
                <!-- FORM -->
                <div class="flex flex-col gap-y-4 text-neutral-950">
            
                    <div>
                        <label class="mb-0.5">Name:</label>
                        <p>{{firstName}} {{lastName}}</p>
                    </div>
                    <div>
                        <label class="mb-0.5">Position:</label>
                        <p>{{department + ' - ' + designation}}</p>
                    </div>
                    <div>
                        <label class="mb-0.5">Employee ID:</label>
                        <p>{{id}}</p>
                    </div>
                    <div>
                        <label class="mb-0.5">Email address:</label>
                        <p>{{email}}</p>
                    </div>
            
                    <button (click)="submitRegistration()" class="mt-2 btn-base btn-primary">Submit</button>
                    <a (click)="reviewAgain()" class="link-secondary text-sm mx-auto">Review again</a>
        </div>
    </section>

</div>