<!-- HEADER-->
<div class="mb-8 flex flex-col gap-y-1">
  <h3 class="text-2xl font-semibold">Forgot password?</h3>
  <p class="text-sm text-neutral-700">It happens, we understand. Just enter your email and we’ll help you reset your password.</p>
</div>

<!-- FORM -->
<form class="flex flex-col gap-y-4">
  <div>
    <label for="">Email address</label>
    <input id="" type="email" required />
  </div>
  <input type="submit" class="mt-2" value="Send reset instructions" />
  <a class="link-secondary text-sm mx-auto" routerLink="../">Back to sign in</a>
</form>
