section.roar {
  background: linear-gradient(to right, #fb923c, #f97316);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}