<main class="flex h-screen w-screen flex-row gap-8 p-8">
  <!-- Visual Side -->
<section class="hidden roar min-h-full flex-1 flex-col justify-between rounded-xl bg-orange-100 p-16 lg:flex">
  <h3 class="max-w-2xl text-2xl text-white font-semibold">With ECHO, the BulSU-CICT's extension services have a reverberating impact, amplifying and reflecting their value to partners, stakeholders, and communities.</h3>
  <img class="pt-16 h-full pb-16" src="assets/images/splash.png">
</section>

  
  <!-- Form Side -->
  <section class="mx-auto my-auto flex h-full w-full max-w-sm flex-none flex-col justify-between lg:mx-16">
    <div class="mx-auto my-auto w-full max-w-sm">
      <router-outlet></router-outlet>
    </div>
    <p class="text-center text-xs text-neutral-500">This is BulSU-CICT Extension and Services Unit’s authorization page. Only authorized personnel and organizations can access the system. Unauthorized access is prohibited.</p>
  </section>
</main>
