<!-- HEADER-->
<div class="mb-8 flex flex-col gap-y-1">
    <h3 class="text-2xl font-semibold">Time for a fresh start</h3>
    <p class="text-sm text-neutral-700">Enter a new password twice. It should be 8+ characters with letters, numbers and
        symbols. Don’t use your old password or personal info.</p>
</div>
<!-- FORM -->
<section class="flex flex-col gap-y-4">
    <form (ngSubmit)="resetPassword()" [formGroup]="formReset">
        <!-- Password  -->
        <div>
            <label for="password">Password </label>
            <input type="password" formControlName="password" name="password" id="password"
                [ngClass]="{'is-invalid' : submitted && f['password'].errors}" placeholder="">

            <!-- error block  -->
            <div *ngIf="submitted && f['password'].errors">
                <div *ngIf="f['password'].errors['required']">
                    Password is required
                </div>
                <div *ngIf="f['password'].errors['minlength']">
                    Password must be aleast 8 characters
                </div>
            </div>
        </div>
        <!-- Confirm Password  -->
        <div class="mb-3 mt-2">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" name="confirm_password" id="confirmPassword"
                [ngClass]="{'is-invalid' : submitted && f['confirmPassword'].errors}" placeholder="">

            <!-- error block  -->
            <div *ngIf="submitted && f['confirmPassword'].errors">
                <div *ngIf="f['confirmPassword'].errors['required']">
                    Confirm Password is required
                </div>

                <div *ngIf="f['confirmPassword'].errors['mustMatch']">
                    Password must match
                </div>
            </div>
        </div>
        <button type="submit" class="mt-2 btn-base btn-primary w-full">Save</button>
    </form>
</section>