<div class="gap-0.5 flex flex-col">
  <img class="h-12 w-fit mb-4" src="assets/logo/echo-mini-colored.svg">
  <h2 class="text-2xl font-semibold">Get started</h2>
  <p class="text-sm text-neutral-500">No worries, we will send you reset instructions.</p>
</div>

<form class="mt-8 gap-6 flex flex-col">
  <div class="">
    <label for="email" class="block mb-2 text-sm font-medium text-neutral-900">Email address</label>
    <input type="email" id="email" class="input-text" autocomplete="off" required>
  </div>
  <div class="">
    <label for="email" class="block mb-2 text-sm font-medium text-neutral-900">Full name</label>
    <input type="email" id="email" class="input-text" autocomplete="off" required>
  </div>
  <div class="">
    <label for="email" class="block mb-2 text-sm font-medium text-neutral-900">Employee number</label>
    <input type="email" id="email" class="input-text" autocomplete="off" required>
  </div>
  <div class="flex flex-col gap-4">
    <button type="button" class="btn-primary">Sign up</button>
    <a id="jasonbebelabs" routerLink="../" class="link-secondary mx-auto">Back to sign in</a>
  </div>
</form>
