<div class="w-full flex flex-row gap-x-8">
    <div class="grid grid-cols-3 col-span-3 gap-4 grow">
        <div class="border rounded-xl">
            <div class="p-6 border-b">
                <h4 class="text-sm font-medium text-neutral-700">
                    Active programs
                </h4>
                <h3 class="text-3xl font-semibold mt-2 text-neutral-950">{{counts.active_extensions}}</h3>
            </div>
            <div class="flex justify-between text-sm font-semibold px-6 py-3 items-center">
                <h5>Upcoming programs</h5>
                <span
                    class="bg-orange-100 text-orange-700 mr-2 px-2.5 py-1 rounded">{{counts.upcoming_extensions}}</span>
            </div>
        </div>
        <div class="border rounded-xl">
            <div class="p-6 border-b">
                <h4 class="text-sm font-medium text-neutral-700">
                    Active partners
                </h4>
                <h3 class="text-3xl font-semibold mt-2 text-neutral-950">{{counts.active_partners}}</h3>
            </div>
            <div class="flex justify-between text-sm font-semibold px-6 py-3 items-center">
                <h5>Upcoming partners</h5>
                <span class="bg-orange-100 text-orange-700 mr-2 px-2.5 py-1 rounded">{{counts.upcoming_partners}}</span>
            </div>
        </div>
        <div class="border rounded-xl">
            <div class="p-6 border-b">
                <h4 class="text-sm font-medium text-neutral-700">
                    Faculty with projects
                </h4>
                <h3 class="text-3xl font-semibold mt-2 text-neutral-950">{{ counts.faculty_with_projects }}</h3>
            </div>
            <div class="flex justify-between text-sm font-semibold px-6 py-3 items-center">
                <h5>Total faculty</h5>
                <span class="bg-orange-100 text-orange-700 mr-2 px-2.5 py-1 rounded">{{ counts.total_verified_faculty
                    }}</span>
            </div>
        </div>
        <div id="chartContainer" class="col-span-3 mt-8" [chart]="barchart"></div>
    </div>
    <div>
        <h3 class="text-lg font-semibold">Expiring MOA Partners</h3>
        <div class="mt-6 flex-col flex gap-5">
            <div class="flex flex-row" *ngFor="let partner of partners">
                <ngx-avatar class="h-10 w-10 rounded-full object-cover object-top flex-none"
                    [src]="'http://127.0.0.1:8000/partners/' + partner.id + '/logo.webp'"
                    [name]="partner.company_name.charAt(0)" [size]="40" [bgColor]>
                </ngx-avatar>
                <div class="flex flex-col ml-2 h-fit my-auto">
                    <p class="text-sm font-medium text-neutral-900">
                        {{partner.company_name}}
                    </p>
                    <p class="text-sm text-neutral-700">
                        {{partner.countdown}}
                    </p>
                </div>
            </div>
        </div>


    </div>



</div>

<!-- chart container -->