<header class="w-full gradient">
    <div class="h-16"></div>
    <div class="container mx-auto px-6 py-8">
        <h2 class="font-semibold truncate text-3xl tracking-tight text-white opacity-95">{{ greeting }}, {{firstName}}!
        </h2>
        <p class="text-neutral-100 mt-1">View and manage the accounts of all faculty members and administrators, as well
            as
            filter and search for specific accounts.</p>
    </div>
    <div class="h-16"></div>
</header>

<!-- Content area -->
<main class="grid grid-cols-4 gap-4 container mx-auto px-8 -m-12">

    <section class="col-span-3 flex flex-col gap-4">

        <div class="bg-white divide-x grid grid-cols-3 rounded shadow">
            <div class="px-8 py-6">
                <h2 class="text-sm font-medium mb-2 text-neutral-500">Active programs</h2>
                <p class="text-4xl font-semibold text-neutral-950">{{stats.total_programs_count}}</p>
            </div>

            <div class="px-8 py-6">
                <h2 class="text-sm font-medium mb-2 text-neutral-500">Active partners</h2>
                <p class="text-4xl font-semibold text-neutral-950">{{stats.active_partners_count}}</p>
            </div>

            <div class="px-8 py-6">
                <h2 class="text-sm font-medium mb-2 text-neutral-500">Active faculty</h2>
                <p class="text-4xl font-semibold text-neutral-950">{{stats.verified_users_count}}</p>
            </div>
        </div>

        <div class="bg-white rounded shadow p-8">
            <h4 class="font-semibold">Extension programs</h4>
            <canvas class="mt-6" height="100vh" id="myChart"></canvas>
        </div>

    </section>

    <section class="bg-white p-8 rounded shadow">

        <h4 class="font-semibold mb-6">Expiring partners</h4>

        <div class="flex flex-col gap-2">
            <div class="rounded-lg border p-2 flex" *ngFor="let partner of expiring">
                <ngx-avatar class=" rounded-full object-cover object-top flex-none"
                    [src]="'http://localhost:8000/partners/' + partner.id + '/logo.webp'"
                    [name]="partner.name.charAt(0)" [size]="48" [bgColor]>
                </ngx-avatar>
                <div class="pl-3">
                    <div class="font-semibold">{{ partner.name }}</div>
                    <div class="font-normal text-sm text-neutral-500">{{ calculateDaysLeft(partner.end_date) }} days
                        left</div>
                    <div class="font-normal text-neutral-500 hidden">{{ partner.id }}</div>
                </div>
            </div>
        </div>

    </section>
</main>