<header class="w-full gradient">
    <div class="h-16"></div>
    <div class="container mx-auto px-6 py-8">
        <h2 class="font-semibold truncate text-3xl tracking-tight text-white opacity-95">{{ greeting }}, {{firstName}}!
        </h2>
        <p class="text-neutral-100 mt-1">View and manage the accounts of all faculty members and administrators, as well
            as
            filter and search for specific accounts.</p>
    </div>
    <div class="h-16"></div>
</header>

<!-- Content area -->
<main class="grid grid-cols-4 gap-4 container mx-auto px-8 -m-12">

    <section class="col-span-3 flex flex-col gap-4">

        <div class="grid grid-cols-3 gap-4">

            <div class="bg-white rounded-lg shadow">

                <div class="w-full px-8 py-6 flex justify-between">
                    <div>
                        <h4 class="font-semibold text-neutral-500">Active programs</h4>
                        <div class="text-4xl text-neutral-950 mt-1">{{stats.total_programs_count}}</div>
                    </div>
                    a
                </div>

                <svg *ngIf="stats.active_programs_diff_status == 'increased'" class="w-full" viewBox="0 0 128 33"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M128 1C107.204 1.8665 106.083 22.1109 85.5 24.5C68.5269 26.4701 52.5047 14.9021 41 16.5C23 19 18.1855 29.9691 0 33H128V1Z"
                        fill="#DCFCE7" />
                    <path
                        d="M128 1C107.204 1.8665 106.083 22.1109 85.5 24.5C68.5269 26.4701 58.5 17.5 44.5 16.5C25.9543 15.1753 18 31 0 33H128V1Z"
                        fill="url(#paint0_linear_138_31)" />
                    <path
                        d="M0 32.5C18.5 32.5 24 16 42.6667 16.5C59.7997 16.9589 68.3602 26.1585 85.3333 24.25C105.916 21.9356 107 1 128 1"
                        stroke="#16A34A" stroke-linejoin="round" />
                    <defs>
                        <linearGradient id="paint0_linear_138_31" x1="64" y1="1" x2="64" y2="33"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.641167" stop-color="white" stop-opacity="0" />
                            <stop offset="1" stop-color="white" />
                        </linearGradient>
                    </defs>
                </svg>

                <svg *ngIf="stats.active_programs_diff_status == 'neutral'" class="w-full" viewBox="0 0 128 33"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M31 9C26 8.99982 18 0.00369853 0.000488281 1.00073V32.8555H129V0.999464L122 1.49684L113.5 3.98585L101.5 7.46962L92.5 7.96735C86 6.47415 73.5209 1.76915 64.5 1.49684C56.5 1.25536 34.5 9.00012 31 9Z"
                        fill="#F5F5F5" />
                    <path
                        d="M61.957 2.77764C41.3881 0.496644 20.7817 3.12907 0 2.30178V32.8539H128.912C129.411 29.511 127.751 6.14349 124.914 2.77764C121.061 -1.7924 114.14 3.48642 106.19 6.95208L94.9351 9.46116C77.8479 8.30295 78.9185 4.6586 61.957 2.77764Z"
                        fill="url(#paint0_linear_142_46)" />
                    <path
                        d="M129 0.99646C111 0.99646 101.788 12.6536 84.5005 5.9734C61.7421 -2.82091 54.5947 2.63631 39.5005 7.4666C23.0991 12.7152 24 0.999756 0.000488281 0.99646"
                        stroke="#525252" stroke-linejoin="round" />
                    <defs>
                        <linearGradient id="paint0_linear_142_46" x1="63.9556" y1="2.30156" x2="63.9556" y2="32.8537"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.641167" stop-color="white" stop-opacity="0" />
                            <stop offset="1" stop-color="white" />
                        </linearGradient>
                    </defs>
                </svg>

                <svg *ngIf="stats.active_programs_diff_status == 'decreased'" class="w-full" viewBox="0 0 128 33"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 1C20.7959 1.8665 21.9171 22.1109 42.5 24.5C59.4731 26.4701 75.4953 14.9021 87 16.5C105 19 109.815 29.9691 128 33H0V1Z"
                        fill="#FEE2E2" />
                    <path
                        d="M0 1C20.7959 1.8665 21.9171 22.1109 42.5 24.5C59.4731 26.4701 69.5 17.5 83.5 16.5C102.046 15.1753 110 31 128 33H0V1Z"
                        fill="url(#paint0_linear_146_58)" />
                    <path
                        d="M128 32.5C109.5 32.5 104 16 85.3333 16.5C68.2003 16.9589 59.6398 26.1585 42.6667 24.25C22.0837 21.9356 21 1 0 1"
                        stroke="#DC2626" stroke-linejoin="round" />
                    <defs>
                        <linearGradient id="paint0_linear_146_58" x1="64" y1="1" x2="64" y2="33"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.641167" stop-color="white" stop-opacity="0" />
                            <stop offset="1" stop-color="white" />
                        </linearGradient>
                    </defs>
                </svg>

            </div>

            <div class="bg-white rounded-lg shadow">

                <div class="w-full px-8 py-6">
                    <h4 class="font-semibold text-neutral-500">Active partners</h4>
                    <div class="text-4xl text-neutral-950 mt-1">{{stats.active_partners_count}}</div>
                </div>

                <svg *ngIf="stats.active_partners_diff_status == 'increased'" class="w-full" viewBox="0 0 128 33"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M128 1C107.204 1.8665 106.083 22.1109 85.5 24.5C68.5269 26.4701 52.5047 14.9021 41 16.5C23 19 18.1855 29.9691 0 33H128V1Z"
                        fill="#DCFCE7" />
                    <path
                        d="M128 1C107.204 1.8665 106.083 22.1109 85.5 24.5C68.5269 26.4701 58.5 17.5 44.5 16.5C25.9543 15.1753 18 31 0 33H128V1Z"
                        fill="url(#paint0_linear_138_31)" />
                    <path
                        d="M0 32.5C18.5 32.5 24 16 42.6667 16.5C59.7997 16.9589 68.3602 26.1585 85.3333 24.25C105.916 21.9356 107 1 128 1"
                        stroke="#16A34A" stroke-linejoin="round" />
                    <defs>
                        <linearGradient id="paint0_linear_138_31" x1="64" y1="1" x2="64" y2="33"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.641167" stop-color="white" stop-opacity="0" />
                            <stop offset="1" stop-color="white" />
                        </linearGradient>
                    </defs>
                </svg>

                <svg *ngIf="stats.active_partners_diff_status == 'neutral'" class="w-full" viewBox="0 0 128 33"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M31 9C26 8.99982 18 0.00369853 0.000488281 1.00073V32.8555H129V0.999464L122 1.49684L113.5 3.98585L101.5 7.46962L92.5 7.96735C86 6.47415 73.5209 1.76915 64.5 1.49684C56.5 1.25536 34.5 9.00012 31 9Z"
                        fill="#F5F5F5" />
                    <path
                        d="M61.957 2.77764C41.3881 0.496644 20.7817 3.12907 0 2.30178V32.8539H128.912C129.411 29.511 127.751 6.14349 124.914 2.77764C121.061 -1.7924 114.14 3.48642 106.19 6.95208L94.9351 9.46116C77.8479 8.30295 78.9185 4.6586 61.957 2.77764Z"
                        fill="url(#paint0_linear_142_46)" />
                    <path
                        d="M129 0.99646C111 0.99646 101.788 12.6536 84.5005 5.9734C61.7421 -2.82091 54.5947 2.63631 39.5005 7.4666C23.0991 12.7152 24 0.999756 0.000488281 0.99646"
                        stroke="#525252" stroke-linejoin="round" />
                    <defs>
                        <linearGradient id="paint0_linear_142_46" x1="63.9556" y1="2.30156" x2="63.9556" y2="32.8537"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.641167" stop-color="white" stop-opacity="0" />
                            <stop offset="1" stop-color="white" />
                        </linearGradient>
                    </defs>
                </svg>

                <svg *ngIf="stats.active_partners_diff_status == 'decreased'" class="w-full" viewBox="0 0 128 33"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 1C20.7959 1.8665 21.9171 22.1109 42.5 24.5C59.4731 26.4701 75.4953 14.9021 87 16.5C105 19 109.815 29.9691 128 33H0V1Z"
                        fill="#FEE2E2" />
                    <path
                        d="M0 1C20.7959 1.8665 21.9171 22.1109 42.5 24.5C59.4731 26.4701 69.5 17.5 83.5 16.5C102.046 15.1753 110 31 128 33H0V1Z"
                        fill="url(#paint0_linear_146_58)" />
                    <path
                        d="M128 32.5C109.5 32.5 104 16 85.3333 16.5C68.2003 16.9589 59.6398 26.1585 42.6667 24.25C22.0837 21.9356 21 1 0 1"
                        stroke="#DC2626" stroke-linejoin="round" />
                    <defs>
                        <linearGradient id="paint0_linear_146_58" x1="64" y1="1" x2="64" y2="33"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.641167" stop-color="white" stop-opacity="0" />
                            <stop offset="1" stop-color="white" />
                        </linearGradient>
                    </defs>
                </svg>

            </div>

            <div class="bg-white rounded-lg shadow">

                <div class="w-full px-8 py-6">
                    <h4 class="font-semibold text-neutral-500">Active faculty</h4>
                    <div class="text-4xl text-neutral-950 mt-1">{{stats.verified_users_count}}</div>
                </div>

                <svg *ngIf="stats.verified_users_diff_status == 'increased'" class="w-full" viewBox="0 0 128 33"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M128 1C107.204 1.8665 106.083 22.1109 85.5 24.5C68.5269 26.4701 52.5047 14.9021 41 16.5C23 19 18.1855 29.9691 0 33H128V1Z"
                        fill="#DCFCE7" />
                    <path
                        d="M128 1C107.204 1.8665 106.083 22.1109 85.5 24.5C68.5269 26.4701 58.5 17.5 44.5 16.5C25.9543 15.1753 18 31 0 33H128V1Z"
                        fill="url(#paint0_linear_138_31)" />
                    <path
                        d="M0 32.5C18.5 32.5 24 16 42.6667 16.5C59.7997 16.9589 68.3602 26.1585 85.3333 24.25C105.916 21.9356 107 1 128 1"
                        stroke="#16A34A" stroke-linejoin="round" />
                    <defs>
                        <linearGradient id="paint0_linear_138_31" x1="64" y1="1" x2="64" y2="33"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.641167" stop-color="white" stop-opacity="0" />
                            <stop offset="1" stop-color="white" />
                        </linearGradient>
                    </defs>
                </svg>

                <svg *ngIf="stats.verified_users_diff_status == 'neutral'" class="w-full" viewBox="0 0 128 33"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M31 9C26 8.99982 18 0.00369853 0.000488281 1.00073V32.8555H129V0.999464L122 1.49684L113.5 3.98585L101.5 7.46962L92.5 7.96735C86 6.47415 73.5209 1.76915 64.5 1.49684C56.5 1.25536 34.5 9.00012 31 9Z"
                        fill="#F5F5F5" />
                    <path
                        d="M61.957 2.77764C41.3881 0.496644 20.7817 3.12907 0 2.30178V32.8539H128.912C129.411 29.511 127.751 6.14349 124.914 2.77764C121.061 -1.7924 114.14 3.48642 106.19 6.95208L94.9351 9.46116C77.8479 8.30295 78.9185 4.6586 61.957 2.77764Z"
                        fill="url(#paint0_linear_142_46)" />
                    <path
                        d="M129 0.99646C111 0.99646 101.788 12.6536 84.5005 5.9734C61.7421 -2.82091 54.5947 2.63631 39.5005 7.4666C23.0991 12.7152 24 0.999756 0.000488281 0.99646"
                        stroke="#525252" stroke-linejoin="round" />
                    <defs>
                        <linearGradient id="paint0_linear_142_46" x1="63.9556" y1="2.30156" x2="63.9556" y2="32.8537"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.641167" stop-color="white" stop-opacity="0" />
                            <stop offset="1" stop-color="white" />
                        </linearGradient>
                    </defs>
                </svg>

                <svg *ngIf="stats.verified_users_diff_status == 'decreased'" class="w-full" viewBox="0 0 128 33"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 1C20.7959 1.8665 21.9171 22.1109 42.5 24.5C59.4731 26.4701 75.4953 14.9021 87 16.5C105 19 109.815 29.9691 128 33H0V1Z"
                        fill="#FEE2E2" />
                    <path
                        d="M0 1C20.7959 1.8665 21.9171 22.1109 42.5 24.5C59.4731 26.4701 69.5 17.5 83.5 16.5C102.046 15.1753 110 31 128 33H0V1Z"
                        fill="url(#paint0_linear_146_58)" />
                    <path
                        d="M128 32.5C109.5 32.5 104 16 85.3333 16.5C68.2003 16.9589 59.6398 26.1585 42.6667 24.25C22.0837 21.9356 21 1 0 1"
                        stroke="#DC2626" stroke-linejoin="round" />
                    <defs>
                        <linearGradient id="paint0_linear_146_58" x1="64" y1="1" x2="64" y2="33"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.641167" stop-color="white" stop-opacity="0" />
                            <stop offset="1" stop-color="white" />
                        </linearGradient>
                    </defs>
                </svg>

            </div>

        </div>

        <div class="bg-white divide-x grid grid-cols-3 rounded shadow">
            <div class="px-8 py-6">
                <h2 class="text-sm font-medium mb-2 text-neutral-500">Active programs</h2>
                <p class="text-4xl font-semibold text-neutral-950">{{stats.total_programs_count}}</p>
            </div>

            <div class="px-8 py-6">
                <h2 class="text-sm font-medium mb-2 text-neutral-500">Active partners</h2>
                <p class="text-4xl font-semibold text-neutral-950">{{stats.active_partners_count}}</p>
            </div>

            <div class="px-8 py-6">
                <h2 class="text-sm font-medium mb-2 text-neutral-500">Active faculty</h2>
                <p class="text-4xl font-semibold text-neutral-950">{{stats.verified_users_count}}</p>
            </div>
        </div>

        <div class="bg-white rounded shadow p-8">
            <h4 class="font-semibold">Extension programs</h4>
            <canvas class="mt-6" height="100vh" id="myChart"></canvas>
        </div>

    </section>

    <section class="bg-white p-8 rounded shadow">

        <h4 class="font-semibold mb-6">Expiring partners</h4>

        <div class="flex flex-col gap-2">
            <div class="rounded-lg border p-2 flex" *ngFor="let partner of expiring">
                <ngx-avatar class=" rounded-full object-cover object-top flex-none"
                    [src]="'http://127.0.0.1:8000/partners/' + partner.id + '/logo.webp'"
                    [name]="partner.name.charAt(0)" [size]="48" [bgColor]>
                </ngx-avatar>
                <div class="pl-3">
                    <div class="font-semibold">{{ partner.name }}</div>
                    <div class="font-normal text-sm text-neutral-500">{{ calculateDaysLeft(partner.end_date) }} days
                        left</div>
                    <div class="font-normal text-neutral-500 hidden">{{ partner.id }}</div>
                </div>
            </div>
        </div>

    </section>
</main>